---
apiVersion: v2
appVersion: 0.6.2
description: Maddy Mail Server
name: maddy
version: 3.3.0
kubeVersion: ">=1.16.0-0"
keywords:
  - maddy
  - mail
home: https://github.com/k8s-at-home/charts/tree/master/charts/stable/maddy
# Project has no icon yet
# icon: https://maddy.org/icon
sources:
  - https://github.com/foxcpp/maddy
maintainers:
  - name: angelnu
    email: git@angelnu.com
dependencies:
  - name: common
    repository: https://bjw-s.github.io/helm-charts
    version: 0.2.2
  - name: postgresql
    version: 12.0.0
    repository: https://charts.bitnami.com/bitnami
    condition: postgresql.enabled
annotations:
  artifacthub.io/changes: |-
    - kind: changed
      description: |
        Moved to angelnu
        Updated library version to 0.2.2
      links:
        - name: Common library chart definition
          url: https://github.com/bjw-s/helm-charts/blob/main/charts/library/common/Chart.yaml
