---
apiVersion: v2
appVersion: 0.8.2 # renovate: depName=ghcr.io/foxcpp/maddy datasource=docker
description: Maddy Mail Server
name: maddy
version: 5.0.0
kubeVersion: ">=1.16.0-0"
keywords:
  - maddy
  - mail
home: https://github.com/angelnu/helm-charts/charts/tree/master/charts/stable/maddy
# Project has no icon yet
# icon: https://maddy.org/icon
sources:
  - https://github.com/foxcpp/maddy
icon: https://upload.wikimedia.org/wikipedia/commons/b/b1/Email_Shiny_Icon.svg
maintainers:
  - name: angelnu
    email: git@angelnu.com
dependencies:
  - name: postgresql
    version: 18.3.0
    repository: https://charts.bitnami.com/bitnami
    condition: postgresql.enabled
  - name: common
    repository: https://bjw-s-labs.github.io/helm-charts
    version: 4.6.2

annotations:
  artifacthub.io/changes: |-
    - kind: changed
      description: |
        **BREAKING**: Updated library version to 4.5.0.
