---
apiVersion: v2
appVersion: 0.6.2
description: Maddy Mail Server
name: maddy
version: 4.1.1
kubeVersion: ">=1.16.0-0"
keywords:
  - maddy
  - mail
home: https://github.com/k8s-at-home/charts/tree/master/charts/stable/maddy
# Project has no icon yet
# icon: https://maddy.org/icon
sources:
  - https://github.com/foxcpp/maddy
icon: https://upload.wikimedia.org/wikipedia/commons/b/b1/Email_Shiny_Icon.svg
maintainers:
  - name: angelnu
    email: git@angelnu.com
dependencies:
  - name: postgresql
    version: 15.2.5
    repository: https://charts.bitnami.com/bitnami
    condition: postgresql.enabled
  - name: common
    repository: https://bjw-s.github.io/helm-charts
    version: 1.5.1

annotations:
  artifacthub.io/changes: |-
    - kind: changed
      description: |
        Disable openMetrics service
