---
apiVersion: v2
appVersion: 2.0.9909 # renovate: depName=ghcr.io/angelnu/tt-rss datasource=docker
description: Tiny Tiny RSS is a free and open source web-based news feed (RSS/Atom) reader and aggregator
name: tt-rss
version: 7.0.0
kubeVersion: ">=1.16.0-0"
keywords:
  - tt-rss
home: https://github.com/angelnu/helm-charts/tree/main/charts/apps/tt-rss
icon: https://raw.githubusercontent.com/angelnu/helm-charts/gh-pages/icons/tt-rss-favicon-72px.png
sources:
  - https://git.tt-rss.org/fox/tt-rss
maintainers:
  - name: angelnu
    email: git@angelnu.com
dependencies:
  - name: postgresql
    version: 18.1.15
    repository: https://charts.bitnami.com/bitnami
    condition: postgresql.enabled
  - name: common
    repository: https://bjw-s-labs.github.io/helm-charts
    version: 4.5.0

annotations:
  artifacthub.io/changes: |-
    - kind: changed
      description: |
        **BREAKING**: Updated library version to 4.5.0.
      links:
        - name: Common library chart definition
          url: https://github.com/bjw-s-labs/helm-charts/blob/main/charts/library/common/Chart.yaml
