---
apiVersion: v2
appVersion: v2.0.9200
description: Tiny Tiny RSS is a free and open source web-based news feed (RSS/Atom) reader and aggregator
name: tt-rss
version: 6.0.0
kubeVersion: ">=1.16.0-0"
keywords:
  - tt-rss
home: https://github.com/angelnu/helm-charts/tree/main/charts/apps/tt-rss
icon: https://raw.githubusercontent.com/angelnu/helm-charts/gh-pages/icons/tt-rss-favicon-72px.png
sources:
  - https://git.tt-rss.org/fox/tt-rss
maintainers:
  - name: angelnu
    email: git@angelnu.com
dependencies:
  - name: postgresql
    version: 12.12.10
    repository: https://charts.bitnami.com/bitnami
    condition: postgresql.enabled
  - name: common
    repository: https://bjw-s.github.io/helm-charts
    version: 1.5.1

annotations:
  artifacthub.io/changes: |-
    - kind: changed
      description: |
        **BREAKING**: Updated library version to 1.0.1.
      links:
        - name: Common library chart definition
          url: https://github.com/bjw-s/helm-charts/blob/main/charts/library/common/Chart.yaml
