---
apiVersion: v2
version: 4.1.1
description: Creates a postgres cluster using the Zalando Postgres operator and local storage
name: zalando-postgres-cluster
appVersion: 1.0.0
keywords:
  - postgres
  - operator
  - zalando
home: https://github.com/k8s-at-home/charts/tree/master/charts/stable/zalando-postgres-cluster
icon: https://upload.wikimedia.org/wikipedia/commons/thumb/2/29/Postgresql_elephant.svg/1200px-Postgresql_elephant.svg.png
sources:
  - https://github.com/zalando/postgres-operator
maintainers:
  - name: angelnu
    email: git@angelnu.com
dependencies:
  - name: common
    repository: https://bjw-s.github.io/helm-charts
    version: 1.5.1

annotations:
  artifacthub.io/changes: |-
    - kind: fixed
      description: race condition in backup script
