---
apiVersion: v2
version: 5.0.1
description: Creates a postgres cluster using the Zalando Postgres operator and local storage
name: zalando-postgres-cluster
appVersion: 1.0.0
keywords:
  - postgres
  - operator
  - zalando
home: https://github.com/angelnu/helm-charts/charts/tree/master/charts/stable/zalando-postgres-cluster
icon: https://upload.wikimedia.org/wikipedia/commons/thumb/2/29/Postgresql_elephant.svg/1200px-Postgresql_elephant.svg.png
sources:
  - https://github.com/zalando/postgres-operator
maintainers:
  - name: angelnu
    email: git@angelnu.com
dependencies:
  - name: postgres-operator
    repository: https://raw.githubusercontent.com/zalando/postgres-operator/master/charts/postgres-operator
    version: 1.15.1
    condition: postgres-operator.enabled
  - name: common
    repository: https://bjw-s-labs.github.io/helm-charts
    version: 4.6.2

annotations:
  artifacthub.io/changes: |-
    - kind: changed
      description: |
        **BREAKING**: Updated library version to 4.5.0.
