{{/* Make sure all variables are set properly */}}
{{- include "bjw-s.common.loader.init" . }}

{{- define "zalando-postgres-cluster.db" -}}
{{- include "bjw-s.common.lib.chart.names.fullname" .|lower -}}-postgres
{{- end -}}

{{- define "zalando-postgres-cluster.superuser" -}}
{{- default (keys .Values.postgresql.users | first ) .Values.superuser.user -}}
{{- end -}}

{{- define "zalando-postgres-cluster.superuser_secret" -}}
{{ default (printf "%s.%s.credentials.postgresql.acid.zalan.do" (include "zalando-postgres-cluster.superuser" .) (include "zalando-postgres-cluster.db" .)) .Values.superuser.secret }}
{{- end -}}

{{- define "zalando-postgres-cluster.superuser_password" -}}
{{- default (randAlphaNum 50) .Values.superuser.password -}}
{{- end -}}

{{- define "zalando-postgres-cluster.storageClass" -}}
{{- default (include "bjw-s.common.lib.chart.names.fullname" .|lower ) .Values.postgresql.volume.storageClass -}}
{{- end -}}

{{- define "zalando-postgres-cluster.pvName" -}}
{{- include "bjw-s.common.lib.chart.names.fullname" .|lower -}}
{{- end -}}

{{- define "zalando-postgres-cluster.localPath" -}}
{{- default (printf "%s/%s" .Values.persistentVolumes.hostPathPrefix (include "bjw-s.common.lib.chart.names.fullname" .)) .Values.persistentVolumes.hostPath -}}
{{- end -}}

{{- define "zalando-postgres-cluster.backupPVCSubpath" -}}
{{- default (printf "%s/%s" .Values.dumpBackup.subpathPrefix (include "bjw-s.common.lib.chart.names.fullname" .)) .Values.dumpBackup.subpath -}}
{{- end -}}

{{/* Append the hardcoded settings */}}
{{- define "zalando-postgres-cluster.harcodedValues" -}}

controllers:
  {{- if or .Values.dumpBackup.enabled .Values.dumpBackup.existingClaim }}
  backup:
    type: cronjob
    cronjob:
        schedule: {{ .Values.dumpBackup.schedule | quote }}
    containers:
      main:
        image:
            repository: {{ .Values.dumpBackup.image.repository}}
            tag: {{ .Values.dumpBackup.image.tag}}
            imagePullPolicy: {{ .Values.dumpBackup.image.imagePullPolicy}}
        command:
            - /bin/sh
            - -ce
            - |
                sleep {{ .Values.dumpBackup.startDelay }}
                echo "$(date) - Start dump"
                pg_dumpall > /backup/new && mv /backup/new /backup/backup
                echo "$(date) - End dump"
                ls -lh /backup
        resources:
        {{- .Values.dumpBackup.resources | toYaml | nindent 16 }}
        env:
          PGHOST: {{ include "zalando-postgres-cluster.db" . }}
          PGUSER:
            valueFrom:
              secretKeyRef:
                name: {{ include "zalando-postgres-cluster.superuser_secret" . }}
                key: username
          PGPASSWORD:
            valueFrom:
              secretKeyRef:
                name: {{ include "zalando-postgres-cluster.superuser_secret" . }}
                key: password
  {{- end }}
  test:
    type: job
    annotations:
        "helm.sh/hook": test-success
        "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded
    containers:
      main:
        image:
            repository: {{ .Values.dumpBackup.image.repository}}
            tag: {{ .Values.dumpBackup.image.tag}}
            imagePullPolicy: {{ .Values.dumpBackup.image.imagePullPolicy}}
        command: ['sh']
        args:
        - "-ecx"
        - |
          echo ";"|psql

        env:
        - name: PGHOST
          value: {{ include "zalando-postgres-cluster.db" . | quote }}
        - name: PGSSLMODE
          value: require
        - name: PGUSER
          valueFrom:
            secretKeyRef:
              name: {{ include "zalando-postgres-cluster.superuser_secret" . }}
              key: username
        - name: PGPASSWORD
          valueFrom:
            secretKeyRef:
              name: {{ include "zalando-postgres-cluster.superuser_secret" . }}
              key: password
        restartPolicy: Never

persistence:
  backup:
    enabled: {{ .Values.dumpBackup.existingClaim }}
    {{ .Values.dumpBackup | toYaml| nindent 4 }}
    advancedMounts:
      backup:
        main:
          - path: /backup
            subPath: {{ include "zalando-postgres-cluster.backupPVCSubpath" . }}
{{- end -}}
{{- $_ := mergeOverwrite .Values (include "zalando-postgres-cluster.harcodedValues" . | fromYaml) -}}

{{/* Render the templates */}}
{{ include "bjw-s.common.loader.all" . }}
