---
apiVersion: v2
appVersion: v3.7.1
description: multus CNI allows multiple NICs per pod
name: multus
version: 3.6.0
kubeVersion: ">=1.16.0-0"
keywords:
  - multus
home: https://github.com/k8s-at-home/charts/tree/master/charts/stable/multus
icon: https://raw.githubusercontent.com/k8snetworkplumbingwg/multus-cni/master/docs/images/Multus.png
sources:
  - https://github.com/k8snetworkplumbingwg/multus-cni
maintainers:
  - name: angelnu
    email: git@angelnu.com
dependencies:
  - name: common
    repository: https://bjw-s.github.io/helm-charts
    version: 0.2.2
annotations:
  artifacthub.io/changes: |-
    - kind: changed
      description: |
        Moved to angelnu
        Updated library version to 0.2.2
      links:
        - name: Common library chart definition
          url: https://github.com/bjw-s/helm-charts/blob/main/charts/library/common/Chart.yaml
