---
apiVersion: v2
appVersion: v1.9.0 # renovate: depName=ghcr.io/angelnu/dnsmadeeasy-webhook datasource=docker
description: Cert-Manager Webhook for DNSMadeEasy
name: dnsmadeeasy-webhook
version: 6.0.0
keywords:
  - cert-manager
  - dnsmadeeasy
  - letsencrypt
home: https://github.com/angelnu/helm-charts/tree/main/charts/apps/dnsmadeeasy-webhook
icon: https://raw.githubusercontent.com/angelnu/helm-charts/gh-pages/icons/dnsmadeeasy.png
sources:
  - https://github.com/angelnu/dnsmadeeasy-webhook
  - https://cert-manager.io
maintainers:
  - name: angelnu
    email: git@angelnu.com
dependencies:
  - name: cert-manager
    repository: https://charts.jetstack.io
    version: v1.19.2
    condition: cert-manager.enabled
  - name: common
    repository: https://bjw-s-labs.github.io/helm-charts
    version: 4.5.0

annotations:
  artifacthub.io/changes: |-
    - kind: changed
      description: |
        **BREAKING**: Updated library version to 4.5.0.
