---
apiVersion: v2
appVersion: v1.8.1
description: Cert-Manager Webhook for DNSMadeEasy
name: dnsmadeeasy-webhook
version: 4.9.0
keywords:
  - cert-manager
  - dnsmadeeasy
  - letsencrypt
home: https://github.com/angelnu/helm-charts/tree/main/charts/apps/dnsmadeeasy-webhook
icon: https://raw.githubusercontent.com/angelnu/helm-charts/gh-pages/icons/dnsmadeeasy.png
sources:
  - https://github.com/angelnu/dnsmadeeasy-webhook
  - https://cert-manager.io
maintainers:
  - name: angelnu
    email: git@angelnu.com
dependencies:
  - name: common
    repository: https://bjw-s.github.io/helm-charts
    version: 0.2.2
  - name: cert-manager
    repository: https://charts.jetstack.io
    version: v1.10.0
    condition: cert-manager.enabled
annotations:
  artifacthub.io/changes: |-
    - kind: changed
      description: |
        Moved to angelnu
        Updated library version to 0.2.2
      links:
        - name: Common library chart definition
          url: https://github.com/bjw-s/helm-charts/blob/main/charts/library/common/Chart.yaml
