---
apiVersion: v2
description: |
  Admision controller to change the default gateway and DNS server of PODs.
  It is typically used to route PODs through a VPN server.
name: pod-gateway
appVersion: v1.13.0 # renovate: depName=ghcr.io/angelnu/pod-gateway datasource=docker
version: 7.1.0
kubeVersion: ">=1.16.0-0"
keywords:
  - pod-gateway
home: https://github.com/angelnu/helm-charts/tree/main/charts/apps/pod-gateway
sources:
  - https://github.com/angelnu/gateway-admision-controller
  - https://github.com/angelnu/pod-gateway
icon: https://kubernetes.io/images/wheel.svg
maintainers:
  - name: angelnu
    email: git@angelnu.com
dependencies:
  - name: common
    repository: https://bjw-s-labs.github.io/helm-charts
    version: 4.5.0

annotations:
  artifacthub.io/changes: |-
    - kind: changed
      description: use combined PEM file for webhook TLS certificate
