---
apiVersion: v2
appVersion: v1.8.1
description: Admision controller to change the default gateway and DNS server of PODs
name: pod-gateway
version: 6.1.0
kubeVersion: ">=1.16.0-0"
keywords:
  - pod-gateway
home: https://github.com/k8s-at-home/charts/tree/master/charts/stable/pod-gateway
sources:
  - https://github.com/k8s-at-home/gateway-admision-controller
  - https://github.com/k8s-at-home/pod-gateway
icon: https://kubernetes.io/images/wheel.svg
maintainers:
  - name: angelnu
    email: git@angelnu.com
dependencies:
  - name: common
    repository: https://bjw-s.github.io/helm-charts
    version: 1.2.1

annotations:
  artifacthub.io/changes: |-
    - kind: changed
      description: |
        **BREAKING**: Updated library version to 1.0.1.
      links:
        - name: Common library chart definition
          url: https://github.com/bjw-s/helm-charts/blob/main/charts/library/common/Chart.yaml
