---
apiVersion: v2
description: |
  Admision controller to change the default gateway and DNS server of PODs.
  It is typically used to route PODs through a VPN server.
name: pod-gateway
version: 7.0.4
kubeVersion: ">=1.16.0-0"
keywords:
  - pod-gateway
home: https://github.com/angelnu/charts/tree/master/charts/stable/pod-gateway
sources:
  - https://github.com/angelnu/gateway-admision-controller
  - https://github.com/angelnu/pod-gateway
icon: https://kubernetes.io/images/wheel.svg
maintainers:
  - name: angelnu
    email: git@angelnu.com
dependencies:
  - name: common
    repository: https://bjw-s-labs.github.io/helm-charts
    version: 4.5.0

annotations:
  artifacthub.io/changes: |-
    - kind: changed
      description: |
        **BREAKING**: Updated library version to 4.5.0.

        If you have only changed the default values in this chart and not done any fine-tunning then
        you only need to change:
        - VPN settings - moved from Values.addons.vpn to Values.controllers.main.containers.gluetun
        - networkPolicies - moved from Values.addons.vpn.networkPolicies to Values.networkPolicies
        - image versions - moved to Values.controllers.main.containers.<container>.image
      links:
        - name: Common library chart definition
          url: https://github.com/bjw-s-labs/helm-charts/blob/main/charts/library/common/Chart.yaml
